{% extends "::base.html.twig" %}

{% block title %}AppBundle:Article:new{% endblock %}

{% block body %}
<h1>Welcome to the Article:new page</h1>

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <h2>Coucou je suis une col 1</h2>

            </div>

            <div class="col-md-6">

                <h2>Coucou je suis une col 2 avec un bouton</h2>

                <button type="button" class="btn btn-primary">Primary</button>

            </div>

        </div>

    </div>

{% endblock %}
